/* -- main --*/
*{
	margin: 0;
	padding: 0;
	font-weight: normal;
	cursor: default;
}
@font-face {
  font-family: Chalkduster;
  src: url(Chalkduster.ttf);
}

body{
	background: #333333;
	font-family: Chalkduster;
	color: #ffffff;	
	
}

button{
	padding: 5px 7px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6D726D), to(#343B34));
	border: solid 1px #333333;
	color: #ffffff;
	font-size: 13px;
	cursor: pointer;
}
a{color:#006600;}
a:link{ text-decoration: none;color:#006600;}
a:active{ text-decoration:blink}
a:hover{ text-decoration:underline;color: red;cursor:pointer} 
a:visited{ text-decoration: none;}
/* -- /main --*/