
<script type="text/javascript">
	
	
	snow.ui.registerComponent("dialogTodo",{
		ctx: {
			parent: "#container"
			},
		build: function(ctx){
			var id = null;
			if(ctx.data && ctx.data.id){
				id = ctx.data.id;
			}
			var todo = snow.dm.get("todo",id);
			var $e = $("#todoFormTmpl").tmpl(todo);
			return $e;
		},
		postDisplay:function(ctx){
			$(".dialog-header").delegate("button","click",function(){
			   $(this).sComponent$element().sCall("close");		
			});
			var $element = ctx.$element;
			$element.find(".save").click(function(){
				var todo = {};
				todo.taskName = $("#updateTodo").find("input[name='taskName']").val();
				todo.startDate = $("#updateTodo").find("input[name='startDate']").val();
				todo.endDate = $("#updateTodo").find("input[name='endDate']").val();
				todo.status = $("#updateTodo").find("input[name='status']").val();
				todo.id = $("#updateTodo").find("input[name='id']").val();
				snow.dm.save("todo",todo);
				snow.ui.display("todo");
			});
		},
		methods: {
			close: function(){
				var $element = this;
				$element.remove();
			}
		}
	});
</script>

<!-- templates-->
<script id="todoFormTmpl" type="text/html">
		<div class="dialog">
		<div class="dialog-header">
			<button class="ok">X</button>
			<h1 class="appText">Update Tag</h1>
		</div>
		<div class="dialog-content">
			<form id="updateTodo">
				<input name="id" type="hidden" value="${ id }" />
				<div class="dialogItem">
					<div class="dialogItem-label">Task Name:</div>
					<div class="dialogItem-value">
						 <input name="taskName" type="text" value="${ taskName }" />
					</div>
				</div>
				<div class="dialogItem">
					<div class="dialogItem-label">Start Date:</div>
					<div class="dialogItem-value">
						<input name="startDate" type="date" value="${ startDate }" />
					</div>
				</div>
				<div class="dialogItem">
					<div class="dialogItem-label">End Date:</div>
					<div class="dialogItem-value">
						<input name="endDate" type="date" value="${ endDate }" />
					</div>
				</div>
				<div class="dialogItem">
					<div class="dialogItem-label">Status:</div>
					<div class="dialogItem-value">
						  <input name="status" type="text" value="${ status }" />
					</div>
				</div>
				<div class="action">
							<button class="save" >save</button>
				</div>
		</form>
		</div>
	</div>
</script>
<!-- /templates -->